$fontSizes: (
  "small": (
    "000": 1.4rem,
    "200": 1.6rem,
    "400": 2rem,
    "600": 2.4rem,
  ),
  "large": (
    "000": 3.2rem,
    "200": 6.4rem,
    "400": 7.2rem,
    "600": 9.6rem,
  )
)
