$section-height: 85vh;

//Icons 
$icon-size: 5.5rem;

// Spacing
$gap: 3rem; 

// Card design
$card-width: 30rem;
$card-impact-height: 18rem;
$card-impact-large-height: 35rem;
$card-preview-height: 40.2rem;
$card-details-height: 20rem;
