*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul {
  list-style: none;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

img {
  min-height: 100%;
}

body {
  max-width: 144rem;
  margin: 0 auto;
}

:root {
  --light-400: #CE7457;
  --light-200: #EAD1BA;
  --light-000: #fff;
  --dark-400: #66433F;
  --dark-200: #817A81;
  --dark-000: #000000;
}

.impact__cards {
  max-width: 63rem;
  column-gap: 3rem;
  row-gap: 3rem;
}
.impact__small {
  width: 30rem;
  height: 18rem;
}
.impact__large {
  max-width: 63rem;
  height: 39rem;
}
.impact__large--img {
  max-width: 30rem;
  height: 35rem;
}

.preview {
  row-gap: 3rem;
}
.preview__small, .preview__mid, .preview__large {
  position: relative;
}
.preview__small {
  max-width: 30rem;
  height: 40.2rem;
}
.preview__mid {
  max-width: 63rem;
  height: 40.2rem;
}
.preview__large {
  width: 63rem;
  height: 83.4rem;
}
.preview__large--details {
  height: 20rem;
}

.main {
  width: 100%;
  height: 85vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./assets/images/cover.jpg");
  background-position: center;
  background-size: cover;
}

.input__title {
  width: 14.4rem;
  height: 5rem;
  border-top-left-radius: 1rem;
}
.input__content {
  padding: 1rem 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.input__content--price, .input__content--location {
  border-left: 1px solid #000;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.row-gap {
  gap: 3rem;
}

.space-between {
  justify-content: space-between;
}

.space-round {
  justify-content: space-around;
}

.justify-end {
  justify-content: end;
}

.wrap {
  flex-wrap: wrap;
}

.self-align-start {
  align-self: start;
}

.self-align-end {
  align-self: end;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.posa-top-right-2 {
  top: 2rem;
  right: 2rem;
  position: absolute;
}

.posa-background {
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.--fw-000 {
  font-weight: 100;
}

.--fw-200 {
  font-weight: 300;
}

.--fw-400 {
  font-weight: 400;
}

.--fw-600 {
  font-weight: 700;
}

.--fw-800 {
  font-weight: 900;
}

.--ff-accent {
  font-family: "Lavishly Yours", cursive;
}

.--ff-base {
  font-family: "Lato", sans-serif;
}

.--clr-light-400 {
  color: #CE7457;
}

.--bdg-light-400 {
  background-color: #CE7457;
}

.--clr-light-200 {
  color: #EAD1BA;
}

.--bdg-light-200 {
  background-color: #EAD1BA;
}

.--clr-light-000 {
  color: #fff;
}

.--bdg-light-000 {
  background-color: #fff;
}

.--clr-dark-400 {
  color: #66433F;
}

.--bdg-dark-400 {
  background-color: #66433F;
}

.--clr-dark-200 {
  color: #817A81;
}

.--bdg-dark-200 {
  background-color: #817A81;
}

.--clr-dark-000 {
  color: #000000;
}

.--bdg-dark-000 {
  background-color: #000000;
}

.--fs-small-000 {
  font-size: 1.4rem;
}

.--fs-small-200 {
  font-size: 1.6rem;
}

.--fs-small-400 {
  font-size: 2rem;
}

.--fs-small-600 {
  font-size: 2.4rem;
}

.--fs-large-000 {
  font-size: 3.2rem;
}

.--fs-large-200 {
  font-size: 6.4rem;
}

.--fs-large-400 {
  font-size: 7.2rem;
}

.--fs-large-600 {
  font-size: 9.6rem;
}

.text-centered {
  text-align: center;
}

.padding-000 {
  padding: 1rem 2rem;
}

.padding-200 {
  padding: 1rem 3rem;
}

.padding-400 {
  padding: 2rem 3rem;
}

.padding-600 {
  padding: 6rem 3rem;
}

.icon {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

.round-xl {
  border-radius: 2rem;
}

.round-l {
  border-radius: 1rem;
}

.round-sm {
  border-radius: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
